.sidenav {
    background-color: rgb(239, 255, 239);
    width: 150px;
}

.sidenav a{
    color: rgb(77, 75, 75);
}

.sidenav i{
    padding-right: 10px;
}

.about{
    position: absolute;
    width: 100%;
    bottom: 80px;
}

.content{
    padding: 10px;
    background-color: #fff;
}